/*晴天*/
.qi-100-fill:before {
  color: #ff9900 !important;
}
.qi-150-fill:before {
  color: #ffff00 !important;
}
/*多云*/
.qi-101-fill:before {
  color: #B0BEC5 !important;
}
.qi-151-fill:before {
  color: #B0BEC5 !important;
}
/*少云*/
.qi-102-fill:before {
  color: #B0BEC5 !important;
}
.qi-152-fill:before {
  color: #B0BEC5 !important;
}

